a {
  text-decoration: none;
  color: #ffb41f;
}

/* Change this ugly color */

.active div {
  background-color: #eee;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.app-bar {
  background-color: #fff;
  border-bottom: 3px solid #998643;

  h1 {
    color:#21412a !important;
    font-weight: 300;
    margin: 5px 8px 0 0;
  }

  svg {
    fill: #21412a !important;
  }

  img {
    margin-top: 8px;
    height: 50px;
  }
}

.flex-div > a {
	width: 100%;
}

.fix-height {
	height: 100%;
}

.hoverable {
	@extend .fix-height;
}

.card {
	box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.hoverable {
  transition: box-shadow .25s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
}
