a {
  text-decoration: none;
  color: #ffb41f;
}

/* Change this ugly color */

.active div {
  background-color: #eee;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.app-bar {
  background-color: #fff;
  border-bottom: 3px solid #998643;

  h1 {
    color:#21412a !important;
    font-weight: 300;
    margin: 5px 8px 0 0;
  }

  svg {
    fill: #21412a !important;
  }

  img {
    margin-top: 8px;
    height: 50px;
  }
}
