body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.hoverable {
  transition: box-shadow .25s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
