.tabs {
  list-style-type: none;
  text-align: center;

  .tab {
    margin: 0 8px;
    display: inline;

    a {
      padding: 8px;
    }
  }
}

.logo-card-container {
  margin-bottom: 24px;

  .img-container {
    padding: 8px 8px 0 8px;
  }
}
