$fus-yellow: #ffb41f;
$break-medium: 1000px;

.scroll-spy {
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

ul.scroll-spy-nav {
  list-style: none;

  li {
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
  }

  li.active {
    font-weight: 500;
    border-left: 2px solid $fus-yellow;
  }
}
