.flex-div > a {
	width: 100%;
}

.fix-height {
	height: 100%;
}

.hoverable {
	@extend .fix-height;
}

.hoverable:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
