@import 'styles/_materialize-variables.scss';

// From: https://github.com/Dogfalo/materialize/blob/master/sass/components/_typography.scss
.flow-text{
  font-weight: 300;
  line-height: 1.5;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}
